#adminInput{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;



    .btnStyle{
        border: none;
        background-color: #CF8181;
        padding: .5rem 2rem;
    }
}

