//Google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

*,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Raleway', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

.centerize {
 text-align: center;
 margin-top: 20rem;
}

//golla css
.circle{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 10px solid #5EA1A5;
  text-align: center;
  margin: 0 auto;
}

.confirmText{
  line-height: 8;
}


